.h1 {
    color: blue;
    text-align: center
   }

.block-1 {
    border: 600px;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

        
}

.box {
    height: 300px;
    margin: 10px;
    font-size: 100px;
    content: counter(one,two,three,four);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
}

.box2 {
    display: flex;
    align-self: flex-start;

}

.red {
    background-color:red;
    width: 300px;
    
}
.black {
    background-color: black;
    width: 300px;
}
.blue {
    background-color: blue;
    width: 500px;
}

.pink {
    background-color: pink;
    width: 500px;

}

.content {
    font-size: 100px;
    font-family: fantasy;
    color: yellow;
      }

/* .flex-container { */
    /* text-align: center; */
       
    
    


